body {
  /* background: url("./flower-bg.jpg") center/cover fixed no-repeat; */
}

.link {
  text-decoration: none;
}

.galery-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.home-img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}
