@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Playfair+Display:400");

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgb(234, 229, 224);
}

.light-bg {
  background-color: rgb(234, 229, 224);
}

.black-bg {
  background-color: rgb(45, 45, 43);
}

.light-color {
  color: rgb(240, 214, 187);
}

.black-color {
  color: rgb(45, 45, 43);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  color: rgb(45, 45, 43);
}

.p {
  margin-bottom: 0;
}

.ul {
  padding: 0;
}

.section {
  min-height: calc(100vh - (2.7rem + 4.8rem)); /*se resta el footer y nav*/
}

/* NAVBAR */
nav {
  min-height: 4.8rem;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand:hover {
  color: rgb(240, 214, 187);
}

.logo {
  width: 1.3rem;
  margin-right: 0.1rem;
}
.navlink {
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: rgb(240, 214, 187);
  transition: all 0.3s ease-in-out;
}

.navlink:hover {
  color: rgb(200, 179, 156);
}

/* FOOTER */
footer {
  height: 2.7rem;
}
.footer-container {
  display: grid;
  place-items: center;
}

.footer-container p {
  margin: 0;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(234, 229, 224);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 43);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(45, 45, 43, 0.8);
}

/* HOME */

.title {
  font-size: 2.8rem;
}

.subtitle {
  margin: 0.5rem;
}

.card {
  border: transparent;
}

.link {
  text-decoration: none;
}

.home-img,
.gallery-img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
}

/* GALERY */
.gallery-img {
  cursor: pointer;
}

/* pagination */
.pagination {
  transform: scale(0.9);
}

.pagination-btn {
  cursor: pointer;
}

/* image and cart modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible; /* abrir y cerrar modal */
  z-index: 1;
}

.cart-container,
.login-container {
  width: 100vw;
  height: 60vh;
  border-radius: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.login-container {
  overflow-y: auto;
}
.login-form {
  height: 100%;
}

.back-to-login {
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.cart-container table {
  width: 85%;
  margin-top: 2rem;
}

.bi-x-lg {
  position: absolute;
  font-size: 1.7rem;
  top: 1rem;
  right: 2rem;
}

.bi-chevron-left,
.bi-chevron-right,
.bi-x-lg {
  cursor: pointer;
}

.bi-cart-fill {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.item-count {
  position: absolute;
  transform: translateX(1500%);
  transform: translate(90%, -200%);
  background-color: red;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  font-size: 0.6rem;
  font-weight: bold;
}

.currentOpenImage {
  max-width: 90vw;
  max-height: 90vh;
}

.bi-arrow-right-circle-fill,
.bi-arrow-left-circle-fill,
.bi-x-square {
  position: absolute;
  color: white;
  font-size: 2.7rem;
  cursor: pointer;
}

.bi-arrow-right-circle-fill:hover,
.bi-arrow-left-circle-fill:hover,
.bi-x-square:hover {
  color: rgb(219, 219, 219);
}

.bi-arrow-left-circle-fill {
  left: 1rem;
}
.bi-arrow-right-circle-fill,
.bi-x-square {
  right: 1rem;
}
.bi-x-square {
  font-size: 2.2rem;
  top: 1rem;
}

/* CONTACT */
.form-input {
  display: block;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  outline: none;
}

.textarea {
  width: 100% !important;
}

/* NOT FOUND */
.error404 {
  font-size: 5rem;
}

/* MAKE PURCHASE */
.purchase-link {
  width: 10rem;
}

/* CLOSE SESSION */
.close-session-container {
  height: 15rem;
  width: 100%;
  border-radius: 1rem;
}

@media screen and (min-width: 576px) {
  /* HOME */
  .title {
    font-size: 3rem;
  }

  /* pagination */
  .pagination {
    transform: scale(1);
    margin-top: 0.5rem;
  }

  /*GALERY*/
  /* modal */
  .cart-container,
  .login-container {
    width: 85vw;
  }

  .currentOpenImage {
    max-width: 75vw;
    max-height: 90vh;
  }

  .bi-arrow-left-circle-fill {
    left: 1.9rem;
  }
  .bi-arrow-right-circle-fill {
    right: 1.9rem;
  }

  /* CONTACT */
  .form-input {
    width: 17rem;
  }

  /* CLOSE SESSION */
  .close-session-container {
    width: 25rem;
  }
}

@media screen and (min-width: 768px) {
  /* HOME */
  .title {
    font-size: 3.2rem;
  }

  /* GALERY */
  /* modal */

  .cart-container,
  .login-container {
    width: 70vw;
  }

  .bi-arrow-right-circle-fill,
  .bi-arrow-left-circle-fill {
    font-size: 3.1rem;
  }

  .bi-arrow-left-circle-fill {
    left: 3.4rem;
  }
  .bi-arrow-right-circle-fill {
    right: 3.4rem;
  }
  .bi-x-square {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 992px) {
  /* HOME */
  .title {
    font-size: 3.8rem;
  }

  /* GALERY */
  /* modal */
  .cart-container,
  .login-container {
    width: 55vw;
  }

  .bi-arrow-left-circle-fill {
    left: 4.5rem;
  }
  .bi-arrow-right-circle-fill {
    right: 4.5rem;
  }

  .bi-x-square {
    right: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  /* GALERY */
  /* modal */
  .cart-container,
  .login-container {
    width: 50vw;
  }

  .bi-arrow-left-circle-fill {
    left: 9rem;
  }
  .bi-arrow-right-circle-fill {
    right: 9rem;
  }
}
